SQLAlchemy==2.0.29
PyMySQL==1.1.0
setuptools==69.5.1
boto3==1.34.94
psycopg2==2.9.9
cloudinary
python-dotenv
git+ssh://git@github.com:USERNAME/store-users.git@master#egg=store-users
git+ssh://git@github.com:USERNAME/store-tools.git@master#egg=store-tools
git+ssh://git@github.com:USERNAME/store-products.git@master#egg=store-products