SQLAlchemy==2.0.29
PyMySQL==1.1.0
setuptools==69.5.1
boto3==1.34.94
cloudinary
python-dotenv
git+https://TOKEN@github.com/USERNAME/store-users.git@master#egg=store-users
git+https://TOKEN@github.com/USERNAME/store-products.git@master#egg=store-products
git+https://TOKEN@github.com/USERNAME/store-tools.git@master#egg=store-tools